breadability==0.1.20
cached-property==1.5.2
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
decorator==4.4.2
docopt==0.6.2
environs==9.1.0
fastapi==0.61.2
fuzzywuzzy==0.18.0
h11==0.11.0
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.2
joblib==0.17.0
lxml==4.6.1
marshmallow==3.9.0
moviepy==1.0.3
nltk==3.5
numpy==1.19.4
Pillow==8.0.1
proglog==0.1.9
pycountry==20.7.3
pydantic==1.7.2
python-dotenv==0.15.0
regex==2020.10.28
requests==2.24.0
standardjson==0.3.1
starlette==0.13.6
sumy==0.8.1
tinydb==4.2.0
tqdm==4.51.0
urllib3==1.25.11
uvicorn==0.12.2
webhooks==0.4.2
wrapt==1.12.1
youtube-dl==2020.11.1.1
youtube-transcript-api==0.3.1
